@font-face {
  font-family: "iconfont"; /* Project id 3047061 */
  src: url('@/styles/icons/iconfont.woff2') format('woff2'),
       url('@/styles/icons/iconfont.woff') format('woff'),
       url('@/styles/icons/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenti-m:before {
  content: "\e617";
}

.icon-xuanzhong:before {
  content: "\e60e";
}

.icon-add:before {
  content: "\e71c";
}

.icon-more:before {
  content: "\e93d";
}

.icon-a--s-fenxiang3x:before {
  content: "\e715";
}

.icon-a--s-shuaxin3x:before {
  content: "\e716";
}

.icon-permission:before {
  content: "\e7ad";
}

.icon-a--s-yanjing3x:before {
  content: "\e714";
}

.icon-a--s-sousuoicon3x:before {
  content: "\e713";
}

.icon-chuangjianqunzu:before {
  content: "\e712";
}

.icon-a--s-gengduo3x:before {
  content: "\e710";
}

.icon-a--s-chakanshuju3x:before {
  content: "\e711";
}

.icon-home:before {
  content: "\e608";
}

.icon-fanhui1:before {
  content: "\e63e";
}

.icon-a--s-xuexiao3x:before {
  content: "\e706";
}

.icon-a--s-yuanxi3x:before {
  content: "\e707";
}

.icon-a--s-youxiang3x:before {
  content: "\e708";
}

.icon-a--s-bumen3x:before {
  content: "\e709";
}

.icon-a--s-gongsi3x:before {
  content: "\e70a";
}

.icon-a--s-danwei3x:before {
  content: "\e70b";
}

.icon-a--s-xuehao3x:before {
  content: "\e70c";
}

.icon-a--s-zhiye3x:before {
  content: "\e70d";
}

.icon-a--s-banji3x:before {
  content: "\e70e";
}

.icon-a--s-gonghao3x:before {
  content: "\e70f";
}

.icon-weixin:before {
  content: "\e695";
}

.icon-a--s-xingming3x:before {
  content: "\e701";
}

.icon-a--s-xingbie3x:before {
  content: "\e702";
}

.icon-a--s-shoujihaoma3x:before {
  content: "\e703";
}

.icon-a--s-tianbiaoren3x:before {
  content: "\e704";
}

.icon-a--s-nicheng3x:before {
  content: "\e705";
}

.icon-a--s-fenye3x:before {
  content: "\e700";
}

.icon-a--s-tupianmiaoshu3x:before {
  content: "\e6fb";
}

.icon-a--s-shengshiqu3x:before {
  content: "\e6fc";
}

.icon-a--s-weizhi3x:before {
  content: "\e6fd";
}

.icon-a--s-qianming3x:before {
  content: "\e6fe";
}

.icon-a--s-wenzimiaoshu3x:before {
  content: "\e6ff";
}

.icon-a--s-tuwendanxuan3x:before {
  content: "\e6f6";
}

.icon-a--s-luyin3x:before {
  content: "\e6f7";
}

.icon-a--s-tuwenduoxuan3x:before {
  content: "\e6f8";
}

.icon-a--s-juzhendanxuan3x:before {
  content: "\e6f9";
}

.icon-a--s-juzhenduoxuan3x:before {
  content: "\e6fa";
}

.icon-a--s-shipin3x:before {
  content: "\e6f0";
}

.icon-a--s-pingfen3x:before {
  content: "\e6f1";
}

.icon-a--s-xialaxuanze3x:before {
  content: "\e6f2";
}

.icon-a--s-wenjian3x:before {
  content: "\e6f4";
}

.icon-a--s-tupian3x:before {
  content: "\e6f5";
}

.icon-a--s-danxuan3x:before {
  content: "\e6ec";
}

.icon-a--s-wenbentubiao3x:before {
  content: "\e6ed";
}

.icon-a--s-shuzi3x:before {
  content: "\e6ee";
}

.icon-a--s-duoxuan3x:before {
  content: "\e6ef";
}

.icon-gongzhonghao:before {
  content: "\e614";
}

.icon-bianji1:before {
  content: "\e602";
}

.icon-shuaxin:before {
  content: "\e631";
}

.icon-zhuanfa:before {
  content: "\e6f3";
}

.icon-fanhui:before {
  content: "\e60c";
}

.icon-danxuan-yixuan:before {
  content: "\e68c";
}

.icon-shezhi:before {
  content: "\e6bb";
}

.icon-tianjia:before {
  content: "\e644";
}

.icon-tupian1:before {
  content: "\e8ba";
}

.icon-xialaxuanze:before {
  content: "\e618";
}

.icon-calendar:before {
  content: "\e9ab";
}

.icon-bianji:before {
  content: "\e603";
}

.icon-shipin:before {
  content: "\e601";
}

.icon-tupian:before {
  content: "\e6df";
}

.icon-jiugongge-:before {
  content: "\e6a3";
}

.icon-shangchuanfujian-tianjiafujian-07:before {
  content: "\e83b";
}

.icon-wodexiao:before {
  content: "\e941";
}

.icon-tousuyujianyi:before {
  content: "\e729";
}

.icon-huishouzhanlajixiang:before {
  content: "\e63f";
}

.icon-zizhutuiguang:before {
  content: "\e600";
}

.icon-zhanghuzichan:before {
  content: "\e622";
}

.icon-order:before {
  content: "\e616";
}

.icon-bangzhu:before {
  content: "\e69e";
}

.icon-shuben:before {
  content: "\e6ea";
}

.icon-kefu:before {
  content: "\e60a";
}

.icon-fabu:before {
  content: "\e63c";
}

